.appContainer {
    position: absolute;
    background: linear-gradient(322deg, rgba(187, 245, 254, 1) 0%, rgba(219, 219, 219, 0.61) 100%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}