  .container {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 6%;
      align-items: center;
      backdrop-filter: blur(2px);
      border: 2px solid black;
      background: linear-gradient(322deg, rgba(187, 245, 254, 1) 0%, rgba(219, 219, 219, 0.61) 100%);
      width: 100%;
      height: 30%;
      grid-column: 2/3;
      margin-bottom: 21%
  }