.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.116);
    width: 53%;
    height: auto;
    max-height: 65vh;
    border: 1px solid rgba(128, 128, 128, 0.315);
    gap: 1%;

}

.user {
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: auto;
}

.userAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 3vw;
    width: auto;
    height: 100%;
}

.avatar {
    width: 2.6vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.postInfo {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 45%;
}

.contentContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 3vh;
    height: auto;
    max-height: 15vh;
    overflow-x: hidden;
    overflow-y: hidden;
    text-wrap: balance;
    word-break: break-all;
    overflow-wrap: break-word;
    font-size: 1.1rem;
}

.content {
    width: 98%;
    max-height: 18vh;
    word-break: break-word;
    overflow: hidden;

}

.interactions {
    display: grid;
    grid-template-columns: 0.8fr 0.7fr 0.7fr;
    gap: 2%;
    min-height: 3vh;
    height: 3vh;
    border-top: 1px solid gray;
}

.interactions Button {
    height: 100%;
    width: 70%;
    font-weight: 600;
}








.expandedContainer {
    position: fixed;
    width: 45%;
    height: 70%;
    background-color: rgb(243, 243, 243);
    padding: 1%;
    z-index: 1;
    top: 20%;
    box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.24);
}

.expandedContentContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 10vh;
    height: auto;
    max-height: 65vh;
    overflow-x: hidden;
    overflow-y: hidden;
    text-wrap: balance;
    word-break: break-all;
    overflow-wrap: break-word;
    font-size: 1.1rem;
}

.expandedContent {
    width: 98%;
    max-height: 33vh;
    word-break: break-word;
    overflow-y: auto;
}