.addPost {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: auto;
    box-shadow: 0px 2px 2px 1.2px #4a99b844;
    background-Color: rgba(14, 13, 13, 0.03);
    border-radius: 10px;

}

.postTools {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 4vh;
    margin: 0.4vh;
    gap: 1vh;
}


.textLengthCounter {
    padding: 0.5vh;
    font-weight: 600;
    background-color: rgba(190, 190, 190, 0.171);
    box-shadow: 0px 2px 2px 1.2px #4a99b844;
    border-radius: 5px;
    height: 25%;
    transition: 0.2s ease-in-out all;
}