.expandedContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 2px 1.2px #4a99b86e;
    background-Color: rgba(14, 13, 13, 0.021);
    width: 60%;
    min-height: 20vh;
    height: fit-content;
    margin-top: 5%;
    border: 1px solid rgba(128, 128, 128, 0.315);
    gap: 0.1em;
    grid-column: 2/3;
    border-radius: 10px;
    
}

.expandedUserContainer {
    padding: 2%;

}

.expandedContentContainer {
    padding-left: 2%;
    width: 100%;
    height: auto;
}

.expandedReactions {
    width: 33%;
    display: flex;
    padding-left: 2%;
    height: auto;
}

.expandedCommentsContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: flex-start;
    max-height: 75vh;
    width: 100%;
    box-sizing: border-box;
    padding: 2% 2%;
    overflow-y: auto;
}

.expandedCommentsCreator {
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: fit-content;
    width: 35vw;
    box-shadow: 0px 2px 2px 1.2px #4a99b86e;
    background-Color: rgba(14, 13, 13, 0.021);
    border-radius: 10px;
    padding: 0.5rem;
}

.user {
    background-color: bisque;
    width: 45vw;
    height: 25vh;
}