.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1vh;
    width: auto;
    max-height: 15vh;

}

.content {
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 10vw;
    height: auto;
    overflow-wrap: anywhere;
    scroll-behavior: smooth;
}