.activityContainer {
    box-shadow: 0px 2px 2px 1.2px #4a99b86e;
    background-color: rgba(14, 13, 13, 0.021);
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    overflow-wrap: anywhere;
}

.activityCommentContent {
    padding-left: 0.5em;
    width: 100%;
}
.activityUser {
    padding: 0.2rem;
}


.activityInfo {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.activityCommentReactions {
    display: flex;
    flex-direction: row;
    padding: 1%;
}
.commentToComment {
    width: 25vw;
    height: auto;
    padding: 1%;
}
.activityCommentCount {
    padding: 1%;
    border-top: 1px solid rgba(128, 128, 128, 0.26);
        cursor:pointer;

}